<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% theme.widgets.forEach(function(widget){ %>
    <%- partial('_widget/' + widget) %>
  <% }) %>
  <a data-type="13" data-tmpl="290x380" data-tmplid="211" data-rd="2" data-style="2" data-border="1" href="#"></a>
</aside>